
<div class="container-fluid p-0">

    <!-- <div class="user_data card p-3">

        <div class="col-lg-12 pl-0">
            <div class="row">
                
                <div class="col-md-3 ">
                    <div class="form-group">
                        <label>From Date:</label>
                        <input class="form-control" placeholder="dd/mm/yyyy" />
                    </div>

                </div>

                <div class="col-md-3 ">
                    <div class="form-group">
                        <label>To Date:</label>
                        <input class="form-control" placeholder="dd/mm/yyyy" />
                    </div>

                  

                </div>

            <div class="col-md-2 ">
              <button class="btn btn-primary pull-left w-100" style="float: left; margin-top: 28px;">Search</button>
        </div>

        <div class="col-md-1 2">
            <button class="btn btn-secondary pull-left " style="float: left; margin-top: 28px;">Reset</button>
      </div>
        </div>
        </div>

    </div> -->

<div class="table_data card p-3">
    <h5>Users Details</h5>
    
	<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>S.no</th>
                <th>Name</th>
                <th>Mobile no</th>
                <th>Email</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>S.no</th>
                <th>Name</th>
                <th>Mobile no</th>
                <th>Email</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td>1</td>
                <td>System Architect</td>
                <td>8767656543</td>
                <td>xyz@gmail.com</td>
                <td>True</td>
                <td>$320,800</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Accountant</td>
                <td>8767656543</td>
                <td>rzjy@gmail.com</td>
                <td>True</td>
                <td>$170,750</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Junior Technical Author</td>
                <td>8767656543</td>
                <td>inboxme@gmail.com</td>
                <td>True</td>
                <td>$86,000</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Senior Javascript Developer</td>
                <td>8767656543</td>
                <td>mohit@gmail.com</td>
                <td>True</td>
                <td>$433,060</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Accountant</td>
                <td>8767656543</td>
                <td>piyush@gmail.com</td>
                <td>True</td>
                <td>$162,700</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Integration Specialist</td>
                <td>8767656543</td>
                <td>veno@gmail.com</td>
                <td>True</td>
                <td>$372,000</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Sales Assistant</td>
                <td>8767656543</td>
                <td>yash@gmail.com</td>
                <td>True</td>
                <td>$137,500</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Integration Specialist</td>
                <td>8767656543</td>
                <td>right@gmail.com</td>
                <td>True</td>
                <td>$327,900</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Javascript Developer</td>
                <td>8767656543</td>
                <td>garu@gmail.com</td>
                <td>True</td>
                <td>$205,500</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Software Engineer</td>
                <td>8767656543</td>
                <td>kasu@gmail.com</td>
                <td>True</td>
                <td>$103,600</td>
            </tr>
            <tr>
                <td>11</td>
                <td>Office Manager</td>
                <td>8767656543</td>
                <td>exvs@gmail.com</td>
                <td>True</td>
                <td>$90,560</td>
            </tr>
            <tr>
                <td>12</td>
                <td>Support Lead</td>
                <td>8767656543</td>
                <td>second@gmail.com</td>
                <td>True</td>
                <td>$342,000</td>
            </tr>
            <tr>
                <td>13</td>
                <td>Regional Director</td>
                <td>8767656543</td>
                <td>wxyz@gmail.com</td>
                <td>True</td>
                <td>$470,600</td>
            </tr>
            <tr>
                <td>14</td>
                <td>Senior Marketing Designer</td>
                <td>8767656543</td>
                <td>mno@gmail.com</td>
                <td>True</td>
                <td>$313,500</td>
            </tr>
            <tr>
                <td>15</td>
                <td>Regional Director</td>
                <td>8767656543</td>
                <td>19</td>
                <td>True</td>
                <td>$385,750</td>
            </tr>
            <tr>
                <td>16</td>
                <td>Marketing Designer</td>
                <td>8767656543</td>
                <td>pqr@gmail.com</td>
                <td>True</td>
                <td>$198,500</td>
            </tr>
            <tr>
                <td>17</td>
                <td>Chief Financial Officer (CFO)</td>
                <td>8767656543</td>
                <td>stuv@gmail.com</td>
                <td>True</td>
                <td>$725,000</td>
            </tr>
            <tr>
                <td>18</td>
                <td>Systems Administrator</td>
                <td>8767656543</td>
                <td>def@gmail.com</td>
                <td>True</td>
                <td>$237,500</td>
            </tr>
            <tr>
                <td>19</td>
                <td>Software Engineer</td>
                <td>8767656543</td>
                <td>ghi@gmail.com</td>
                <td>True</td>
                <td>$132,000</td>
            </tr>
            <tr>
                <td>20</td>
                <td>Personnel Lead</td>
                <td>8767656543</td>
                <td>jkl@gmail.com</td>
                <td>True</td>
                <td>$217,500</td>
            </tr>
            <tr>
                <td>21</td>
                <td>Development Lead</td>
                <td>8767656543</td>
                <td>mnop@gmail.com</td>
                <td>True</td>
                <td>$345,000</td>
            </tr>
            <tr>
                <td>22</td>
                <td>Chief Marketing Officer (CMO)</td>
                <td>8767656543</td>
                <td>ank@gmail.com</td>
                <td>True</td>
                <td>$675,000</td>
            </tr>
            <tr>
                <td>23</td>
                <td>Pre-Sales Support</td>
                <td>8767656543</td>
                <td>moni@gmail.com</td>
                <td>True</td>
                <td>$106,450</td>
            </tr>
            <tr>
                <td>24</td>
                <td>Sales Assistant</td>
                <td>8767656543</td>
                <td>ashish@gmail.com</td>
                <td>True</td>
                <td>$85,600</td>
            </tr>
            <tr>
                <td>25</td>
                <td>Chief Executive Officer (CEO)</td>
                <td>8767656543</td>
                <td>vvag@gmail.com</td>
                <td>True</td>
                <td>$1,200,000</td>
            </tr>
            <tr>
                <td>26</td>
                <td>Developer</td>
                <td>8767656543</td>
                <td>hhhjh@gmail.com</td>
                <td>True</td>
                <td>$92,575</td>
            </tr>
            <tr>
                <td>27</td>
                <td>Regional Director</td>
                <td>8767656543</td>
                <td>anythn@gmail.com</td>
                <td>True</td>
                <td>$357,650</td>
            </tr>
            <tr>
                <td>28</td>
                <td>Software Engineer</td>
                <td>8767656543</td>
                <td>some@gmail.com</td>
                <td>True</td>
                <td>$206,850</td>
            </tr>
            <tr>
                <td>29</td>
                <td>Chief Operating Officer (COO)</td>
                <td>8767656543</td>
                <td>read@gmail.com</td>
                <td>True</td>
                <td>$850,000</td>
            </tr>
            <tr>
                <td>30</td>
                <td>Regional Marketing</td>
                <td>8767656543</td>
                <td>send@gmail.com</td>
                <td>True</td>
                <td>$163,000</td>
            </tr>
            <tr>
                <td>31</td>
                <td>Integration Specialist</td>
                <td>8767656543</td>
                <td>info@gmail.com</td>
                <td>True</td>
                <td>$95,400</td>
            </tr>
            <tr>
                <td>32</td>
                <td>Developer</td>
                <td>8767656543</td>
                <td>detail@gmail.com</td>
                <td>True</td>
                <td>$114,500</td>
            </tr>
            <tr>
                <td>33</td>
                <td>Technical Author</td>
                <td>8767656543</td>
                <td>admin@gmail.com</td>
                <td>True</td>
                <td>$145,000</td>
            </tr>
            <tr>
                <td>34</td>
                <td>Team Leader</td>
                <td>8767656543</td>
                <td>contact@gmail.com</td>
                <td>True</td>
                <td>$235,500</td>
            </tr>
            <tr>
                <td>35</td>
                <td>Post-Sales support</td>
                <td>8767656543</td>
                <td>info@gmail.com</td>
                <td>True</td>
                <td>$324,050</td>
            </tr>
            <tr>
                <td>36</td>
                <td>Marketing Designer</td>
                <td>8767656543</td>
                <td>info@gmail.com</td>
                <td>True</td>
                <td>$85,675</td>
            </tr>
            <tr>
                <td>37</td>
                <td>Office Manager</td>
                <td>8767656543</td>
                <td>info@gmail.com</td>
                <td>True</td>
                <td>$164,500</td>
            </tr>
            <tr>
                <td>38</td>
                <td>Secretary</td>
                <td>8767656543</td>
                <td>info@gmail.com</td>
                <td>True</td>
                <td>$109,850</td>
            </tr>
            <tr>
                <td>39</td>
                <td>Financial Controller</td>
                <td>8767656543</td>
                <td>info@gmail.com</td>
                <td>True</td>
                <td>$452,500</td>
            </tr>
            <tr>
                <td>40</td>
                <td>Office Manager</td>
                <td>8767656543</td>
                <td>info@gmail.com</td>
                <td>True</td>
                <td>$136,200</td>
            </tr>
            <tr>
                <td>41</td>
                <td>Director</td>
                <td>8767656543</td>
                <td>info@gmail.com</td>
                <td>True</td>
                <td>$645,750</td>
            </tr>
            <tr>
                <td>42</td>
                <td>Support Engineer</td>
                <td>8767656543</td>
                <td>info@gmail.com</td>
                <td>True</td>
                <td>$234,500</td>
            </tr>
            <tr>
                <td>43</td>
                <td>Software Engineer</td>
                <td>8767656543</td>
                <td>info@gmail.com</td>
                <td>True</td>
                <td>$163,500</td>
            </tr>
            <tr>
                <td>44</td>
                <td>Support Engineer</td>
                <td>8767656543</td>
                <td>info@gmail.com</td>
                <td>True</td>
                <td>$139,575</td>
            </tr>
            <tr>
                <td>45</td>
                <td>Developer</td>
                <td>8767656543</td>
                <td>info@gmail.com</td>
                <td>True</td>
                <td>$98,540</td>
            </tr>
            <tr>
                <td>46</td>
                <td>Support Engineer</td>
                <td>8767656543</td>
                <td>info@gmail.com</td>
                <td>True</td>
                <td>$87,500</td>
            </tr>
            <tr>
                <td>47</td>
                <td>Data Coordinator</td>
                <td>8767656543</td>
                <td>info@gmail.com</td>
                <td>True</td>
                <td>$138,575</td>
            </tr>
            <tr>
                <td>48</td>
                <td>Software Engineer</td>
                <td>8767656543</td>
                <td>info@gmail.com</td>
                <td>True</td>
                <td>$125,250</td>
            </tr>
            <tr>
                <td>49</td>
                <td>Software Engineer</td>
                <td>8767656543</td>
                <td>xyz@gmail.com</td>
                <td>True</td>
                <td>$115,000</td>
            </tr>
            <tr>
                <td>50</td>
                <td>Junior Javascript Developer</td>
                <td>8767656543</td>
                <td>xyz@gmail.com</td>
                <td>True</td>
                <td>$75,650</td>
            </tr>
           
        </tbody>
    </table>
    

</div>
</div>