.add{  background-color: #e96901;
    color: white;}
.update{  background-color: #e96901;
    color: white;}
.cancel{   color: white;
    background-color:#151349 ;}

    ::ng-deep .multiselect-item-checkbox + div[_ngcontent-jbk-c157]{
        text-transform: capitalize !important;
    }