
<div class="container-fluid p-0">

   
    <div class="appointment_data card p-3">
        <div class="loader" *ngIf="loader">
            <img src="../../../../assets/images/loading.gif" />
        </div>
    <form [formGroup]="timeslotForm"  >
        <div class="col-lg-12 pl-0">
            <div class="row">
                <div class="col-lg-12">
                    <div *ngIf="message!='' && error==true" class="alert alert-danger w-100" role="alert">
                        {{message}}
                      </div>
            
                      <div *ngIf="message!='' && error!=true" class="alert alert-success w-100"  role="alert">
                        {{message}}
                      </div>
            
                </div>
                <div class="col-md-3 ">
                    <input class="form-control" type="hidden" formControlName="id" />
                    <div class="form-group">
                        <label>Start Time</label>
                        <input class="form-control" type="time" formControlName="startTime" placeholder="Start Time" />
                    </div>
                </div>

                <div class="col-md-3 ">
                    <div class="form-group">
                        <label>End Timing</label>
                        <input class="form-control" type="time"  formControlName="endTime"  placeholder="End Time" />
                    </div>
                   

                </div>

                <div class="col-md-3 ">
                    <div class="form-group">
                        <label>Select Days</label>
                        <ng-multiselect-dropdown
                    [settings]="dropdownSettings"
                    [data]="dropdownList"
                    [(ngModel)]="selectedItems"
                    (onSelect)="onItemSelect($event)"
                    (onSelectAll)="onSelectAll($event)"
                    (onDeSelect)="onItemDeSelect($event)"
                  >
                  </ng-multiselect-dropdown>
                    </div>
                    

                </div>


                <div class="col-md-3 align-items-center" style="padding-top: 35px;">
                    <div class="form-check" >
                        <input class="form-check-input" type="checkbox" value=""  id="flexCheckDefault" (change)="checkCheckBoxvalue($event)">
                        <label class="form-check-label" for="flexCheckDefault">
                         Active
                        </label>
                      </div>
            </div>

            <div class="col-md-2 " *ngIf="!edit">
              <button class="btn add pull-left w-100" style="float: left; margin-top: 28px;"  (click)="addNewTimeslot()">{{formTitle}}</button>
        </div>
        <div class="col-md-6 " *ngIf="edit">
            <div class="row">
                <div class="col-lg-3">
                    <button class="btn update pull-left w-100" style="float: left; margin-top: 28px;"  (click)="addNewTimeslot()">Update</button>
                </div>
                <div class="col-lg-3">
                    <button class="btn cancel  pull-left w-100" style="float: left; margin-top: 28px;"  (click)="addNewTimeslot()">Cancel</button>
                </div>
            </div>
      </div>

       
        </div>
    </div> 
    </form>

</div>

<div class="table_data card p-3">
    <h5>All Records</h5>
    
	<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>S.no</th>
                <th>Time Slot Name</th>
                <th>Start Time</th>
                <th>End Time</th>

                <th>Days</th>
                <th>Status</th>
                <th>Action</th>
              
            </tr>
        </thead>
        <!-- <tfoot>
            <tr>
                <th>S.no</th>
                <th>Country</th>
                <th>Code</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </tfoot> -->
        <tbody>
            <tr *ngFor="let data of timeslotData">
                <td>{{data.id}}</td>
                <td>{{data.timeSlotName}}</td>
                <td>{{data.startTime}}</td>
                <td>{{data.endTime}}</td>
                <td><div *ngFor="let day of data.days">{{day.day}}</div></td>
                <td><span class="badge badge-success" *ngIf="data.status=='ACTIVE'">{{data.status}}</span>
                    <span class="badge badge-danger" *ngIf="data.status=='INACTIVE' || data.status=='DEACTIVATE'">{{data.status}}</span></td>
                <td style="display: flex;"> <button class="btn btn-success" (click)="editTimeSlot(data.id)"><i class="ng-tns-c22-2 feather icon-edit"></i></button> <button class="btn btn-danger"><i class="ng-tns-c22-2 feather icon-trash"></i></button> </td>
               
            </tr>
         
          
            
        
        </tbody>
    </table>
    
    
</div>
