.auth-wrapper .auth-bg .r:first-child{
    background: linear-gradient(
-135deg, #fe450e 0%, #e9a11d 100%) !important

;
}

.auth-wrapper .auth-bg .r:last-child {
    left: -100px;
    bottom: -100px;
    background: linear-gradient(
-135deg, #ff8100 0%, #ffd400 100%) !important;

}

.auth-wrapper .auth-bg .r.s:nth-child(3) {
    left: -150px;
    bottom: 150px;
    background: #ff8100 !important;
}

.auth-wrapper .auth-bg .r.s:nth-child(2) {
    top: 150px;
    right: -150px;
    background: #f5cc04 !important;
}

.loader{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background: rgba(255, 255, 255, 0.582);
    text-align: center;

}

.loader img{
    margin-top: 45% !important;
    width: 50%;
    margin: 0 auto;

}

::ng-deep .iti.iti--allow-dropdown {
    width: 100% !important;
}
::ng-deep input#phone, .iti{
    width: 100% !important;

}

.auth-wrapper .auth-content{
width:30%;
}

.card{
    width: 100%;
}
::ng-deep .custom{
    padding-right: 85px !important;
  padding-top: 5px;
  padding-bottom: 5px;

    border: 1px solid #ced4da!important;
    border-radius: 3px ;
}
.wrapper{
    margin-bottom: 10px;
}