<div class="container-fluid p-0">


    <div class="appointment_data card p-3" style="position: relative;">
        <div class="loader" *ngIf="loader">
            <img src="../../../../assets/images/loading.gif" />
        </div>
        <h5>{{formTitle}}</h5>
        <hr>
        <form [formGroup]="countryForm">
            <input type="hidden" id="contryid">
            <div class="col-lg-12 pl-0">
                <div class="row">
                    <div class="col-lg-12">
                        <div *ngIf="message!='' && error==true" class="alert alert-danger w-100" role="alert">
                            {{message}}
                        </div>

                        <div *ngIf="message!='' && error!=true" class="alert alert-success w-100" role="alert">
                            {{message}}
                        </div>

                    </div>
                    <div class="col-md-3 ">
                        <div class="form-group">
                            <label>Country</label>
                            <input *ngIf="ifUpdate==false" class="form-control" formControlName="country"
                                placeholder="Country" />
                            <input *ngIf="ifUpdate==true" class="form-control" formControlName="country"
                                placeholder="Country" />

                        </div>

                    </div>

                    <div class="col-md-2 ">
                        <div class="form-group">
                            <label>Code</label>
                            <input class="form-control" formControlName="code" placeholder="Code"  required/>
                            <small *ngIf="countryForm.controls.code?.invalid && countryForm.controls.code?.touched" class="alert text-danger">
                                Please fill the  country code
                            </small>
                            <small *ngIf="countryForm.controls.code.errors?.pattern">
                                Please fill valid country code
                            </small>
                        </div>



                    </div>

                    <div class="col-md-1 align-items-center" style="padding-top: 35px;">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" ngModel id="flexCheckDefault" [checked]="ischecked"
                                (change)="checkCheckBoxvalue($event)">
                            <label class="form-check-label" for="flexCheckDefault">
                                Active
                            </label>
                        </div>
                    </div>

                    <div class="col-md-2 ">
                        <button *ngIf="ifUpdate==false" class="btn add  pull-left w-100"
                            style="float: left; margin-top: 28px;" (click)="addNewCountry()" [disabled]="countryForm.invalid" >Add</button>

                        <button *ngIf="ifUpdate==true" class="btn update pull-left w-100" (click)="updateCountry()"
                            style="float: left; margin-top: 28px;">Update</button>

                    </div>

                    <div class="col-md-2">
                        <button *ngIf="ifUpdate==true" class="btn cancel pull-left w-100"
                            style="float: left; margin-top: 28px;" (click)="cancelUpdate()">Cancel</button>

                    </div>
                </div>
            </div>
        </form>

    </div>

    <div class="table_data card p-3">
        <h5>All Countries</h5>
        <hr>

        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>S.no</th>
                    <th>Country</th>
                    <th>Code</th>
                    <th>Status</th>
                    <th>Action</th>

                </tr>
            </thead>
           
            <tbody>



                <tr *ngFor="let data of countryData; let i = index" [attr.data-index]="i">

                    <td style="width: 40px;">{{i+1}}</td>
                    <td>{{data.name}}</td>
                    <td>{{data.code}}</td>
                    <td><span class="badge badge-success" *ngIf="data.status=='ACTIVE'">{{data.status}}</span>
                        <span class="badge badge-warning"
                            *ngIf="data.status=='INACTIVE' || data.status=='DEACTIVATE'">{{data.status}}</span>
                        <span class="badge badge-danger" *ngIf="data.status=='DELETED'">{{data.status}}</span>
                    </td>
                    <td> <button class="btn btn-success" (click)="editCountry(data.sno)"><i
                                class="ng-tns-c22-2 feather icon-edit"></i></button> <button class="btn btn-danger"
                            (click)="OnDelete(data.sno, data.name, data.code)"><i
                                class="ng-tns-c22-2 feather icon-trash"></i></button> </td>




                </tr>




            </tbody>
        </table>


    </div>