<div class="auth-wrapper">
    <div class="auth-content">
      <div class="auth-bg">
        <span class="r"></span>
        <span class="r s"></span>
        <span class="r s"></span>
        <span class="r"></span>
      </div>
  
  
  
      <div class="card" style="position: relative;">
        <div class="loader" *ngIf="loading==true">
          <img src="../../../assets/images/loading.gif" />
        </div>
        <form [formGroup]="changeForm">
          <div class="card-body text-center">
            <div class="mb-4">
             <img style="width: 25%;" src="../../../assets/images/astro-logo.png"/>
            </div>
            <h3 class="mb-4">Change password</h3>
            <div *ngIf="message!='' && error==true" class="alert alert-danger" role="alert">
              {{message}}
            </div>
  
            <div *ngIf="message!='' && error!=true" class="alert alert-success" role="alert">
              {{message}}
            </div>
  
            <div class="input-group mb-3">
              <input type="email" formControlName="newPassword" class="form-control" placeholder="New Password">
             
  
            </div>
            <div class="input-group mb-4">
              <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Confirm Password">
            </div>
           
            <button class="btn them_btn mb-4 w-100" (click)="onSubmit()" >Change Password</button>
           
          </div>
        </form>
     
      </div>
    </div>
  </div>
  
