
<div class="container-fluid p-0">
    <button (click)="getDataCheck()">check</button>

    <div class="appointment_data card p-3" style="position: relative;">
      
        <h5>{{formTitle}}</h5>
        <div class="loader" *ngIf="loader">
            <img src="../../../../assets/images/loading.gif"/>
        </div>
        <hr>
        <form [formGroup]="ratelistform" >
            <input type="hidden" id="ratelistid">
                <div class="col-lg-12 pl-0">
                    <div class="row">
                        <div class="col-lg-12">
                            <div *ngIf="message!='' && error==true" class="alert alert-danger w-100" role="alert">
                                {{message}}
                            </div>
                    
                            <div *ngIf="message!='' && error!=true" class="alert alert-success w-100"  role="alert">
                                {{message}}
                            </div>
                    
                        </div>
                        <div class="col-md-2 ">
                            <div class="form-group">
                                <label>Country:</label>
                                <select class="form-control" formControlName="country" placeholder="Select Country">
                                  
                                    <option  *ngFor="let country of countryData"  value="{{country.name}}">
                                    {{country.name}}
                                    </option>
                                 
                                    
                                </select>
                            </div>

                        </div>

                        <div class="col-md-2 ">
                            <div class="form-group">
                                <label>Consultation Type:</label>
                                <!-- <input formControlName="ctype" class="form-control" placeholder="dd/mm/yyyy" /> -->
                                <select class="form-control" formControlName="ctype" placeholder="Consultation TYpe">
                                    <option>Kundali/Birth Chart Consultation</option>
                                    <option>Gemstone Consultation</option>
                                    <option>Match Making Consultation</option>
                                    <option>Vastu</option>
                                </select>
                            </div>

                        

                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Rate Of Value:</label>
                            <input formControlName="rateofvalue" class="form-control" placeholder="Rate" />
                            </div>
                        </div>

                        <div class="col-md-2 align-items-center" style="padding-top: 35px;">
                            <div class="form-check" >
                                <input class="form-check-input" type="checkbox" value="" ngModel  id="flexCheckDefault" (change)="checkCheckBoxvalue($event)">
                                <label class="form-check-label" for="flexCheckDefault">
                                Active
                                </label>
                            </div>
                        </div>

                        <div class="col-md-2"  *ngIf="ifUpdate==false">
                            <button  type="button " (click)="AddRateList()" class="btn  add pull-left " style="float: left; margin-top: 28px;">Add Ratelist</button>
                            
                        </div>
                        <div class="col-md-6 col-lg-6 " *ngIf="ifUpdate==true" style="display: flex;" >
                            <button  type="button " (click)="updateRateList()" class="btn  add pull-left " style="float: left; margin-top: 28px;">Update</button>
                            <button type="button " (click)="onCancel()" class="btn  add pull-left " style="float: left; margin-top: 28px;">Cancel</button>
                        </div>
                    </div>    
            
            </div>
        </form>
    </div>

    <div class="table_data card p-3">
        <h5>Rate List Records</h5>
        <hr>
        
        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>S.no</th>
                    <th>Country</th>
                    <th>Consultation Type</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
           
            <tbody>
            
                <tr *ngFor="let data of sortedRateList;let index=index">
                    <td>{{index+1}}</td>
                    <td>{{data.countryName}}</td>
                    <td>{{data.consultationType}}</td>
                    <td><span *ngIf="data.countryName!='India'">$</span> <span *ngIf="data.countryName=='India'">&#8377; </span> {{data.rateOfValues}}</td>
                    <td><span class="badge badge-success" *ngIf="data.status=='ACTIVE'">{{data.status}}</span>
                        <span class="badge badge-warning"
                            *ngIf="data.status=='INACTIVE' || data.status=='DEACTIVATE'">{{data.status}}</span>
                        <span class="badge badge-danger" *ngIf="data.status=='DELETED'">{{data.status}}</span></td>
                    <td> <button (click)="editRateList(data.sno)" class="btn btn-success btn-sm"><i class="ng-tns-c22-2 feather icon-edit"></i></button> <button (click)="OnDelete(data.sno, data.countryName, data.consultationType, data.rateOfValues)" class="btn btn-danger btn-sm"><i class="ng-tns-c22-2 feather icon-trash"></i></button> </td>
                </tr>
            
            </tbody>
        </table>
    </div>
</div>