
<div class="container-fluid p-0">
    <div class="loader" *ngIf="loader">
        <img src="../..//assets/images/loading.gif" />
    </div>

    <div claASS="col-12 test-right" routerLink="/dashboard/blog">
    <button class="btn update mr-3 mb-3 "  ><i class="fa fa-plus"></i> Create New Blog </button>
    </div>                    

<div class="table_data card p-3" >
    <h5>{{appointmentlike | titlecase }} Records</h5>
    
	<table id="example" class="table table-striped table-bordered"cellspacing="0" width="100%" data-scroll-x="true"
    scroll-collapse="false">
        <thead>
            <tr>
                <th>Blog ID</th>
                <th>Blog Feature</th>
                <th>Blog Title</th>
         
          
                
                <th>Action</th>
            </tr>
        </thead>
      
        <tbody>
           
          
            <tr *ngFor="let data of getBlogs;let index=index">
                <td>{{index+1}}</td>
               
                <td><img  src="{{imgURL}}{{data.image}}/{{data.id}}" style="width:50px; height: 50px; border-radius: 10px;; object-fit: cover;"/></td>
                <td>{{data.title}}</td>
                
                <td >
                  <button class="btn btn-success"  routerLink="/dashboard/editBlog/{{data.id}}"><i class="ng-tns-c22-2 feather icon-edit"></i></button> 
                  <button class="btn btn-danger"  (click)="deleteBlog(data.id)"><i class="ng-tns-c22-2 feather icon-trash"></i></button> 
                  <button class="btn btn-primary " routerLink="/dashboard/comment/{{data.id}}"   ><i class="fa fa-comment"></i> Comments</button> 
                </td>
            </tr>
        </tbody>
    </table>
    

</div>
</div>