
<div class="container-fluid p-0">

    

<div class="table_data card p-3" >
    <h5>{{appointmentlike | titlecase }} Records</h5>
    
	<table id="example" class="table table-striped table-bordered"cellspacing="0" width="100%" data-scroll-x="true"
    scroll-collapse="false">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Feature</th>
                <th>Blog Title</th>
         
                <th>Appointment Status</th>
                <th>Action</th>
            </tr>
        </thead>
      
        <tbody>
           
          
            <tr >
                <td>S.no.</td>
                <td><img src="../../../../assets/images/placeholder.png" class="table_image" /></td>
                <td>Blog Title</td>
                <td>Blog Content</td>
                <td style="display: flex;">
                  <button class="btn btn-success"  ><i class="ng-tns-c22-2 feather icon-edit"></i></button> 
                </td>
            </tr>
        </tbody>
    </table>
    

</div>
</div>