form{
    padding: 50px;
    border-radius: 20px;
}
h6{
    font-size: 30px;
    color: #151349;
}
.save{
    background-color:#151349 ;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
}
.clear{
   background-color: #f66e1f;
   color: white;
   padding-left: 30px;
   padding-right: 30px;
}
textarea{
    height: 38px;
}