<div id="form-section">
    <div class="container">
        <form [formGroup]="contactForm" class="shadow">
            <div class="row pb-4">
                <div class="col-lg-12 text-center">
                    <h6>Contact Details</h6>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6">
                    <label for="DisplayName">Display Name</label>
                    <input type="email" class="form-control" formControlName="displayName" id="DisplayName" >
                   
                </div>
                <div class="form-group col-lg-6">
                    <label for="DisplayAddress">Display Address</label>
                   <textarea class="form-control" formControlName="displayAddress"></textarea>
                   
                </div>
              
            </div>
            <div class="row">
                <div class="form-group col-lg-6">
                    <label for="DisplayPhone">Display Phone</label>
                    <input type="email" class="form-control" formControlName="displayPhone" id="DisplayPhone" >
                   
                </div>
                <div class="form-group col-lg-6">
                    <label for="DisplayMobile">Display Mobile</label>
                    <input type="email" class="form-control" formControlName="displayMobile" id="DisplayMobile" >
                   
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6">
                    <label for="DisplayWhatapp">Display Whatapp</label>
                    <input type="email" class="form-control" formControlName="displayWatsapp" id="DisplayWhatapp">
                   
                </div>
                <div class="form-group col-lg-6">
                    <label for="DisplaySkype">Display Skype</label>
                    <input type="email" class="form-control" formControlName="displaySkype" id="DisplaySkype" aria-describedby="emailHelp">
                   
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6">
                    <label for="DisplayFacebook">Display Facebook</label>
                    <input type="email" class="form-control" formControlName="displayFaceBook" id="DisplayFacebook" aria-describedby="emailHelp">
                   
                </div>
                <div class="form-group col-lg-6">
                    <label for="DisplayTwitter">Display Twitter</label>
                    <input type="email" class="form-control" formControlName="displayTwitter" id="DisplayTwitter" aria-describedby="emailHelp">
                   
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <button class="btn save" (click)="addContact()">save</button>
                    <button class="btn clear">Clear</button>
                </div>
                
            </div>
        </form>
    </div>
</div>
