
.checkbox input[type=checkbox] {
    margin: 0;
    display: block !important;
    width: 22px;
}
.hide{
    display: none;
}
.label-1{
    margin-right: 10px;
    margin-top: 10px;
}
i {
    padding-right: 10px;
}

table.dataTable tbody td{
    padding: 8px !important;
}
.loader{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.562);
    z-index: 1;text-align: center;
    left:0;
    top:0;
}

.loader img{
    width: 20%;
    margin-top: 0%;

}
#example_paginate{
    font-size: 10px;
    margin-top: 5px;
}


::ng-deep table {
    box-shadow: 0 0 20px 0 #0000002e !important;
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 20px !important;
    border: none;
}
::ng-deep table th{
    border-bottom: none !important;
    border-left: 0 !important;
   
    border-top: 0 !important;
}

::ng-deep table th:last-child{
    border: none !important;

}

.add{
    color: white;
    background-color:#e96901 ;
}
.update{
    color: white;
    background-color: #e96901;
}
.cancel{
    color: white;
    background-color: #151349;
}