
.checkbox input[type=checkbox] {
    margin: 0;
    display: block !important;
    width: 22px;
}
.hide{
    display: none;
}
.label-1{
    margin-right: 10px;
    margin-top: 10px;
}
.btn{
    margin-top: 33px !important;
}
