
<div class="container-fluid p-0">

    <div class="appointment_data card p-3" style="position: relative;">
        <div class="loader"  *ngIf="loader">
            <img src="../../assets/images/loading.gif"/>
        </div>

        <form action="" [formGroup]="promoForm" >
            <input type="hidden" id="promocodeid">
            <div class="col-lg-12 pl-0">
                <div class="row">

                    <div class="col-lg-12">
                        <div *ngIf="message!='' && error==true" class="alert alert-danger w-100" role="alert">
                            {{message}}
                          </div>
                
                          <div *ngIf="message!='' && error!=true" class="alert alert-success w-100"  role="alert">
                            {{message}}
                          </div>
                
                    </div>
                </div>
                <div class="row">

                   
                    
                    <div class="col-md-3 ">
                        <div class="form-group">
                            <label>Promo Code *</label>
                            <input class="form-control " formControlName="promcode"  placeholder="Promo code"  />
                        </div>
    
                    </div>
    
                 
    
                   
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Discount Type *</label>
                           <select class="form-control " formControlName="option">select
                           
                           <!-- <option value="" selected>Select Type</option> -->
                            <option value="Amount">Amount</option>
                            <option value="Percentage">percentage</option>
                              
                           </select>
                        </div>
                    </div>
                    <div class="col-md-2 ">
                        <div class="form-group">
                            <label>Percentage/Amount</label>
                            <input class="form-control" placeholder="" formControlName="percentAmount"  />
                        </div>
    
                      
    
                    </div>
                    <div class="col-lg-5" style="padding-top: 28px;" >
                        <label class="label-1"><input type="checkbox" [checked]="ischecked" (change)="onChange($event)"   name="aplicable" >Application for limited time *</label>
                    </div>
                    
                    <div class="checkbox form-inline ml-3 " *ngIf="checked==true">
                       
                        <div class=" ch_for  mr-2">
                            <label for="">Effective Date*</label>
                            <input type="date"  value="" placeholder="Channel details" min="{{today}}"  formControlName="effective"  class="form-control ">
                        </div>
                        <div class=" ch_for ">
                            <label for="">Expiry Date *</label>
                            <input type="date"  value="" placeholder="Channel details" min="{{today}}"  formControlName="expiry"  class="form-control ">
                        </div>
                       
                    </div>
                </div> 
                <div class="row ">

                
    
                
                        <div class="col-lg-2">
                            <button class="btn add pull-left w-100"   *ngIf="ifUpdate==false" style="float: left; margin-top: 33px;" (click)="addNewPromoCode()">Add</button>
                        </div>
                        <div class="col-lg-2">
                            <button class="btn update pull-left w-100" *ngIf="ifUpdate==true"  style="float: left; margin-top: 33px;" (click)="updatePromocode()">Update</button>
                        </div>
                        <div class="col-lg-2">
                        
                            <button class="btn cancel pull-left w-100" *ngIf="ifUpdate==true" style="float: left; margin-top: 33px;" (click)="onCancel()">cancel</button>
                        </div>
                      
                       
                   
               </div>
    
            
            </div>
        </form>
    </div>

</div>

<div class="table_data card p-3">
    <h5>All Records</h5>
    
	<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Promo Code</th>
                <th style="width:16%;">Type    </th>
                <th>%/Amount</th>
                <th>status</th>
                <th>Effective Date</th>
                <th>Expiry Date</th>
                <th>Action</th>
            </tr>
        </thead>
        
        
        <tbody>
            <tr  *ngFor="let item of promocode;let index=index">
                <td>{{index+1}}</td>
                <td>{{item.code |  uppercase }}</td>
                <td>{{item.type}}</td>
                <td>{{item.amount}}</td>
                <td> {{item.status}}</td>
                <td>{{item.effectiveDate}}</td>
                <td >{{item.expiryDate}}</td>
                <td style="display: flex;"> 
                    <button class="btn btn-sm btn-success pr-0 m-0 mr-1" (click)="editPromocode(item.sno)"><i class="ng-tns-c22-2 feather icon-edit"></i></button> 
                    <button class="btn  btn-sm btn-danger pr-0 m-0"(click)="onDelete(item.sno,item.code,item.type,item.amount,item.effectiveDate,item.expirydate)"><i class="ng-tns-c22-2 feather icon-trash"></i></button></td>
            </tr>
         
        </tbody>
    </table>
    

</div>

