
<div class="container-fluid p-0">
    <div class="loader" *ngIf="loader">
        <img src="../../assets/images/loading.gif" />
    </div>
    <div class="appointment_data card p-3">
  

        <div class="col-lg-12 pl-0">
            <div class="row">
                <div class="col-lg-12">
                    <div *ngIf="message!='' && error==true" class="alert alert-danger w-100" role="alert">
                        {{message}}
                    </div>

                    <div *ngIf="message!='' && error!=true" class="alert alert-success w-100" role="alert">
                        {{message}}
                    </div>

                </div>
            <form action="" [formGroup]="appointmentForm">

               
                <div class="row col-lg-12" *ngIf="onEdit1">
                   
                    <div class="form-group col-lg-2 w-100">
                        <label for="">Name:</label>
                        <input class="form-control" type="text" formControlName="name" readonly >
                    </div>
                    <div class="form-group col-lg-3">
                        <label for="">App Date:</label>
                        <input class="form-control" type="text" formControlName="date" readonly >
                    </div>
                  
                        
                        <div class="form-group col-lg-3">
                            <label>Select Type:</label>
                            <select class="form-control" formControlName="newType">
                                <option value="">select</option>
                                <option value="Pending">Pending</option>
                                <option value="Cancelled">Cancelled</option>
                                <option value="Completed">Completed</option>
                            </select>
                        </div>
                        <div class="col-lg-2 text-center">
                            <button class="btn update mr-3" (click)="updateStatus()">Update</button>
                          
                        </div>
                        <div class="col-lg-2">
                            <button class="btn  cancel" (click)="onCancel()">Cancel</button>
                          
                        </div>
                       
                   
                  
                </div>
               
                <input type="hidden" id="userId">
                <div class="text-editor col-lg-12" *ngIf="edit">
                    <div class="form-group ">
                        <div class="d-block">
                            <label class="remedies">Write Your Remedies Here</label>
                            <span class="AddImg btn btn-light pull-right" style="margin: 0;" data-toggle="modal" data-target="#mediapop">
                                <i class="fa fa-image"></i> Insert Image
                            </span>
                        </div>
             
                        <angular-editor id="editor1" [config]="editorConfig"></angular-editor>
                    </div>
                    <div class="form-group text-center center  ">
                        <div class="col-lg-12 text-center">
                            <button class=" btn  save" (click)="saveRemedies()" >Save</button>
                            <button class="btn  cancel" (click)="onCancel()">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
              

                <div class="col-md-3" *ngIf="onEdit">
                    <div class="form-group">
                        <label>Select Type:</label>
                       <select class="form-control" value="{{status}}" (change)="getAppointment($event.target.value)" >
                        <option value="">
                            Select
                           </option>
                           <option value="all">
                            All  List
                           </option>
                           <option value="pending">
                            Pending  List
                           </option>
                           <option value="cancelled">
                            Cancelled  List
                           </option>
                           <option value="completed">
                            Completed  List
                           </option>
                           <option value="refund">
                            Refund List
                           </option>
                           <option value="payment">
                            Payment paid List
                           </option>
                       </select>
                    </div>
               </div>

            <div class="col-md-2 " *ngIf="onEdit2">
              <button class="btn btn-primarry pull-left w-100" style="float: left; margin-top: 34px;" (click)="rediRectStatus()">Search</button>
             </div>

       
        </div>
    </div>

</div>

<div class="table_data card p-3" >
    <h5>{{appointmentlike | titlecase }} Records</h5>
    
	<table id="example" class="table table-striped table-bordered"cellspacing="0" width="100%" data-scroll-x="true"
    scroll-collapse="false">
        <thead>
            <tr>
          
                <th>S.No</th>
                <th>Status</th>
                <th>Appointment Date</th>
                <th>Time Slot</th>
                <th>Name</th>
                <th>DOB</th>
                <th>Birth Time</th>
                <th>Birth Place</th>
                <th>Consultation Type</th>
                <th>Meeting Mode</th>
                <th>Skype/Whatsapp/Phone</th>
               
                <th>Remedy</th>
                <th>Action</th>
            </tr>
        </thead>
      
        <tbody >
            <tr *ngFor="let data of allAppointment ;let index=index">
               
                <td>{{index+1}}</td>
                <td><span class="badge badge-warning" *ngIf="data.status=='pending'">Pending</span>
                    <span class="badge badge-danger" *ngIf="data.status=='canceled' || data.status=='Cancelled'">Cancelled</span>
                    <span class="badge badge-success" *ngIf="data.status=='Completed'">Completed</span>
                    <span class="badge badge-primary" *ngIf="data.status=='PAYMENT_PAID'">Payment Paid</span>
                    <span class="badge badge-secondary" *ngIf="data.status!='PAYMENT_PAID' && data.status!='pending' && data.status!='Completed' && data.status!='canceled' && data.status!='Cancelled' ">{{data.status}}</span>
                    </td>
                <td>{{data.appointDate | date:'d/M/y' }}</td>
                <td *ngIf='data.timeSlot!=null'>{{data.timeSlot.timeSlotName}}</td>
                <td *ngIf='data.timeSlot==null'>null</td>
                <td>{{data.userProfile.firstName}} &nbsp; {{data.userProfile.lastName}}</td>
                <td>2011/01/25</td>
                <td>{{data.timeOfBirth}}</td>
                <td>{{data.placeOfBirth}}</td>
                <td>{{data.consultationType}}</td>
                <td>{{data.meetingType}}</td>
                <td>{{data.skypeId}}</td>
                
                <td *ngIf="data.remedy!=null" class="text-primary">Remedy Added</td>
                <td *ngIf="data.remedy==null " class="text-danger">Remedy Not Added</td>
                <td style="display: flex;">
                  <button class="btn btn-success edit" (click)="editAppointment(data.id)" ><i class="ng-tns-c22-2 feather icon-edit"></i></button> 
                  <button class="btn btn-primary edit" (click)="editor(data.id, data.remedy)" ><i class="ng-tns-c22-2 feather icon-book"></i></button> 
                </td>
            </tr>
        </tbody>

         
    </table>
    

</div>
</div>



<div class="modal fade" id="mediapop" tabindex="-1" role="dialog" aria-labelledby="mediapop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 80%">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="mediapopTitle">Your Media Collection</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="min-height: 300px; max-height:400px; overflow:hidden; overflow-y:auto;">
            <div class="col-12 text-center pt-3" *ngIf="imload == true">
                <img class="w-55 mr-auto ml-auto " src="../../../../assets/loader.gif"/>
            </div>
       <div class="col-12" *ngIf="imload != true">
            <div class="row">
               
                <div class="col-2" *ngFor="let data of allMediaFiles" style="position: relative">
                        <img src="{{data.image}}" (click)="appendImg(data.image)" class="w-100 dsjds bordered" style="cursor: pointer;"/>

                        <span class="remOp" (click)="removeMedia(data.id)"><i class="fa fa-times"></i></span>
                </div>
            </div>
       </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel Upload</button>

        
          <label type="button" for="moreFile"  class="btn btn-primary">Upload A New Image
              <input type="file" id="moreFile" (change)="addMoreImage($event)" style="display: none;" accept='image/*' >
          </label>

          
        </div>
      </div>
    </div>
  </div>