.btn-primarry{
    background-color: #e96901;
    color: white;
}
.btn-secondarry{
    color: white;
    background-color:#151349 ;
}
tbody{
    word-break: keep-all !important;
}

::ng-deep table {
    box-shadow: 0 0 20px 0 #0000002e !important;
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 20px !important;
    border: none;
}
::ng-deep table th{
    border-bottom: none !important;
    border-left: 0 !important;
   
    border-top: 0 !important;
}

::ng-deep table th:last-child{
    border: none !important;

}

.loader{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.562);
    z-index: 1;text-align: center;
    left:0;
    top:0;
}

.loader img{
    width: 20%;
    margin-top: 0%;

}
.feather{
    font-size: small !important;
}
.btn{
    margin-top: 33px;
}
.update{
    color: white;
    background-color: #e96901;
    padding-left: 20px;
    padding-right: 20px;
}
.cancel{
    color: white;
    background-color: #151349;
    padding-left: 20px;
    padding-right: 20px;
}
::ng-deep .angular-editor-button {
    background-color: #ffffff;
    vertical-align: middle;
    border: 1px solid #ddd;
    padding: 0.4rem;
    min-width: 2rem;
    color: #000 !important;
    float: left;
}

::ng-deep .angular-editor-textarea{
    min-height: 200px !important;
}


.image_bx{
    padding:10px;
    width: 100%;
    height: auto;
}


.flBt1{
    background:rgb(255, 115, 0);
    color:#fff;
    padding:10px 20px;
    width: 100%;
    border-radius: 5px;
}
.flBt{
    background:darkblue;
    color:#fff;
    padding:10px 20px;
    width: 100%;
    border-radius: 5px;
}

.image_bx img{
width: 100%;
height: auto;
}
.center{
    margin-top: -23px;
}
.save{
    background-color: #e96901;
    color: white;
}
.cancel{
    color: white;
        background-color:#151349 ;}
.remedies{
    font-weight: bold;
}       

.edit {
    
 margin-top: 0px !important; 
    
}
::ng-deep #insertImage-editor1, ::ng-deep #insertVideo-editor1{
    display: none !important;
}


::ng-deep .ae-font .ae-picker-label{
    background: #08002c !important;
}

::ng-deep .ae-font .ae-picker-options .ae-picker-item{
    background: #08002c !important;
}

.dsjds{
    border:1px solid grey;
    padding: 2px;
    height: 150px;
    width: 100%;
    object-fit: cover;

}

.remOp{
    background: rgb(123, 17, 17);
     color: #fff;
     width: 22px;
     position: absolute;
     top:0;
     right: 0;
     line-height: 20px;
     text-align: center;
     height: 22px;
     border-radius: 50%;
}