
<div class="container-fluid p-0">

    <div class="appointment_data card p-3">
        <div class="loader" *ngIf="loader">
            <img src="../../../../assets/images/loading.gif" />
        </div>

        <div class="col-lg-12 pl-0">
            <div class="row">
                <div class="col-lg-12">
                    <div *ngIf="message!='' && error==true" class="alert alert-danger w-100" role="alert">
                        {{message}}
                    </div>

                    <div *ngIf="message!='' && error!=true" class="alert alert-success w-100" role="alert">
                        {{message}}
                    </div>

                </div>
            <form action="" [formGroup]="appointmentForm">

             
                <div class="row col-lg-12" *ngIf="onEdit">
                    <form  action="" [formGroup]="appointmentForm"></form>
                    <div class="form-group col-lg-2">
                        <label for="">Name:</label>
                        <input class="form-control" type="text" formControlName="name" readonly >
                    </div>
                    <div class="form-group col-lg-3">
                        <label for="">App Date:</label>
                        <input class="form-control" type="text" formControlName="date" readonly>
                    </div>
                  
                        
                        <div class="form-group col-lg-3">
                            <label>Select Type:</label>
                            <select class="form-control" formControlName="type">
                                <option value="">select</option>
                                <option value="Pending">Pending</option>
                                <option value="Canceled">Canceled</option>
                                <option value="Completed">Completed</option>
                            </select>
                        </div>
                        <div class="col-lg-2 text-center">
                            <button class="btn update mr-3" (click)="updateStatus()">Update</button>
                          
                        </div>
                        <div class="col-lg-2">
                            <button class="btn  cancel" (click)="onCancel()">Cancel</button>
                          
                        </div>
                       
                
                  
                </div>
                <div class="text-editor col-lg-12" *ngIf="edit">
                    <div class="form-group mt-3">
                        <label>Write content here</label>
                        <angular-editor id="editor1" ></angular-editor>
                    </div>
                </div>
            </form>
              

                <div class="col-md-3" *ngIf="!onEdit">
                    <div class="form-group">
                        <label>Select Type:</label>
                       <select class="form-control" (change)="getAppointment($event.target.value)" >
                        <option value="">
                            Select
                           </option>
                           <option value="All">
                            All Appointment List
                           </option>
                           <option value="PENDING">
                            Pending Appointments List
                           </option>
                           <option value="CANCELLED">
                            Cancelled Appointments List
                           </option>
                           <option value="COMPLETED">
                            Completed Appointments List
                           </option>
                           <option value="REFUNDING">
                            Refund Appointments List
                           </option>
                       </select>
                    </div>
               </div>

            <div class="col-md-2 " *ngIf="!onEdit">
              <button class="btn btn-primarry pull-left w-100" style="float: left; margin-top: 34px;" (click)="getDiffAppointment()">Search</button>
             </div>

       
        </div>
    </div>

</div>

<div class="table_data card p-3" >
    <h5>{{appointmentlike | titlecase }} Records</h5>
    
	<table id="example" class="table table-striped table-bordered"cellspacing="0" width="100%" data-scroll-x="true"
    scroll-collapse="false">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Appointment Date</th>
                <th>Time Slot</th>
                <th>Name</th>
                <th>DOB</th>
                <th>Birth Time</th>
                <th>Birth Place</th>
                <th>Consultation Type</th>
                <th>Meeting Mode</th>
                <th>Skype/Whatsapp/Phone</th>
                <th>Appointment Status</th>
                <th>Action</th>
            </tr>
        </thead>
      
        <tbody>
           
          
            <tr *ngFor="let data of allAppointment ;let index=index">
                <td>{{index+1}}</td>
                <td>{{data.appointDate | date:'d/M/y' }}</td>
                <td *ngIf='data.timeSlot!=null'>{{data.timeSlot.timeSlotName}}</td>
                <td *ngIf='data.timeSlot==null'>null</td>
                <td>{{data.userProfile.firstName}} &nbsp; {{data.userProfile.lastName}}</td>
                <td>2011/01/25</td>
                <td>{{data.userProfile.timeOfBirth}}</td>
                <td>{{data.userProfile.placeOfBirth}}</td>
                <td>{{data.consultationType}}</td>
                <td>{{data.meetingType}}</td>
                <td>{{data.skypeId}}</td>
                <td>{{data.status}}</td>
                <td style="display: flex;">
                  <button class="btn btn-success" (click)="editAppointment(data.id)" ><i class="ng-tns-c22-2 feather icon-edit"></i></button> 
                  <button class="btn btn-success" (click)="editor(data.id)" ><i class="ng-tns-c22-2 feather icon-edit"></i></button> 
                </td>
            </tr>
        </tbody>
    </table>
    

</div>
</div>