::ng-deep .angular-editor-button {
    background-color: #ffffff;
    vertical-align: middle;
    border: 1px solid #ddd;
    padding: 0.4rem;
    min-width: 2rem;
    color: #000 !important;
    float: left;
}

::ng-deep .angular-editor-textarea{
    min-height: 400px !important;
}


.image_bx{
    padding:10px;
    width: 100%;
    height: auto;
}


.flBt1{
    background:rgb(255, 115, 0);
    color:#fff;
    padding:10px 20px;
    width: 100%;
    border-radius: 5px;
}
.flBt{
    background:darkblue;
    color:#fff;
    padding:10px 20px;
    width: 100%;
    border-radius: 5px;
}

.image_bx img{
width: 100%;
height: auto;
}


.image_bx img{
    width: 100%;
    height: auto;
    }
    
    ::ng-deep #insertImage-editor1, ::ng-deep #insertVideo-editor1{
        display: none !important;
    }
    
    ::ng-deep .ae-font .ae-picker-label{
        background: #08002c !important;
    }
    
    ::ng-deep .ae-font .ae-picker-options .ae-picker-item{
        background: #08002c !important;
    }
    
    .dsjds{
        border:1px solid grey;
        padding: 2px;
        height: 150px;
        width: 100%;
        object-fit: cover;
    
    }
    
    .remOp{
        background: rgb(123, 17, 17);
         color: #fff;
         width: 22px;
         position: absolute;
         top:0;
         right: 0;
         line-height: 20px;
         text-align: center;
         height: 22px;
         border-radius: 50%;
    }