<div class="container-fluid mt-5">
<h3 class="ml-2">Edit Blog</h3>
<hr>
    <section class="blog_section">

        <div class="loader" *ngIf="loader">
            <img src="../..//assets/images/loading.gif" />
        </div>
        <form action="">
        <div class="col-md-12 col-lg-12">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <div class="card">
                     

                            <div class="col-12">
                                <div class="row">

                                    <div class="col-12">
                                        <div class="form-group mt-4">
                                            <label>Blog Title</label>
                                          <input class="form-control" value="{{singleData.title}}" id="blog_title" placeholder="Enter Blog Title" />
                                        </div>
                                     </div>
                             

                                 <div class="col-12">
                                    <div class="form-group mt-2">
                                        <label>Blog Subtitle</label>
                                      <input class="form-control" value="{{singleData.subtitle}}"  id="blogSubtilte" placeholder="Enter Blog Subtitle" />
                                </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group mt-2">
                                <label>Description</label>
                                <textarea class="form-control" value="{{singleData.description}}" placeholder="write something..." id="description"></textarea>
                       
                        </div>
                        </div>

                                
                                    <div class="col-12">
                                <div class="form-group mt-3">
                                    <div class="d-block mb-3 ">
                                        <label>Write content here</label>
                                        <span class="AddImg btn btn-light pull-right" data-toggle="modal" data-target="#mediapop">
                                            <i class="fa fa-image"></i> Insert Image
                                        </span>
                                    </div>
                                    <angular-editor id="editor1" [config]="editorConfig"></angular-editor>
                                </div>
                                </div>

                                </div>
                            </div>

                      
                        </div>
                </div>

                <div class="col-md-4 col-sm-12">


                     <div class="card">

                        <div class="form-group p-2">
                            <label><b>Blog Keywords</b></label>
                       <textarea class="form-control" value="{{singleData.keywords}}" placeholder="Eg: best blog, astroenergy, Indian astro etc." id="keyword"></textarea>
                       <small>*Note: Seprate your keywords with ( , ).</small>
                        </div>

                        <div class="image_bx">
                            <h4>Select Feature Image</h4>
                            <hr>
                            <label for="blog_ftr" class="btn flBt1"><i class="fa fa-image"></i> Select Feature Image </label>
                           <input type='file' style="display: none;"  accept='image/*'  id="blog_ftr" (change)="onSelectFile($event)" (change)="onSelectFile($event)">
                            <hr>
                            <img [src]="urlDt" height="200"> <br/>
                        </div>

                        <button class="flBt btn w-100 mt-5 " style="border-radius: 0;" (click)="postNewBlog()">Update Blog</button>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </section>
</div>



<div class="modal fade" id="mediapop" tabindex="-1" role="dialog" aria-labelledby="mediapop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 80%">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="mediapopTitle">Your Media Collection</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="min-height: 300px; max-height:400px; overflow:hidden; overflow-y:auto;">
            <div class="col-12 text-center pt-3" *ngIf="imload == true">
                <img class="w-55 mr-auto ml-auto " src="../../../../assets/loader.gif"/>
            </div>
       <div class="col-12" *ngIf="imload != true">
            <div class="row">
               
                <div class="col-2" *ngFor="let data of allMediaFiles" style="position: relative">
                        <img src="{{data.image}}" (click)="appendImg(data.image)" class="w-100 dsjds bordered" style="cursor: pointer;"/>

                        <span class="remOp" (click)="removeMedia(data.id)"><i class="fa fa-times"></i></span>
                </div>
            </div>
       </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel Upload</button>

        
          <label type="button" for="moreFile"  class="btn btn-primary">Upload A New Image
              <input type="file" id="moreFile" (change)="addMoreImage($event)" style="display: none;" accept='image/*' >
          </label>

          
        </div>
      </div>
    </div>
  </div>