button{
   
    border: none;
    font-weight: 600;
    background-image: linear-gradient(to top right, #201A65);
    color: #fff;
}
button:hover{
    background-image: linear-gradient(to bottom right, #201A65);
    // box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 45%) !important;
}
:ng-deep .ng-tns-c113-1:first-child{
    background: rgb(38,0,255) !important;
background: linear-gradient(90deg, rgba(38,0,255,1) 0%, rgba(0,255,248,1) 100%) !important;
}

.today{
    background: #151349;
}
.change{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 6px;
    border-radius: 33px;
}

::ng-deep table {
    box-shadow: 0 0 20px 0 #0000002e !important;
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 20px !important;
    border: none;
}
::ng-deep table th{
    border-bottom: none !important;
    border-left: 0 !important;
   
    border-top: 0 !important;
}

::ng-deep table th:last-child{
    border: none !important;

}




.card-purple-blue {
    background: linear-gradient(45deg, #6d80fe 0%, #23d2fd 100%);
    box-shadow: 0 5px 20px rgba(35, 210, 253, 0.3); }
  
  .card-salmon-pink {
    background: linear-gradient(45deg, #ff998b 0%, #ff6d88 100%);
    box-shadow: 0 5px 20px rgba(255, 153, 139, 0.3); }
  
  .card-blue-green {
    background: linear-gradient(45deg, #09afe8 0%, #29f499 100%);
    box-shadow: 0 5px 20px rgba(41, 244, 153, 0.3); }
  
  .card-purple-pink {
    background: linear-gradient(45deg, #707cff 0%, #fa81e8 100%);
    box-shadow: 0 5px 20px rgba(250, 129, 232, 0.3); }
  
  .card {
    border: 0;
    border-radius: 10px; }
    .card-body {
      padding: 15px 20px; }
  