<div class="row">
  <div class="col-md-6 col-xl-4">
    <app-card class="text-center shadow" [hidHeader]="true">
      <i style="font-size: 40px; color: #201A65; margin-bottom: 18px;" class="fa fa-clock-o" aria-hidden="true"></i>
        <h6 class="mb-4" style="font-size: 20px; font-weight: bold; color: #201A65;">Today's Appointments</h6>
        <!-- <div class="row d-flex align-items-center">
          <div class="col-9">
            <h3 class="f-w-300 d-flex align-items-center m-b-0"><i class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>$249.95</h3>
          </div>

          <div class="col-3 text-right">
            <p class="m-b-0">67%</p>
          </div>
        </div> -->
        <div class="row d-flex align-items-center">
          <div class="col-lg-12">
            <button class="shadow">View All Appointments</button>
          </div>
        </div>
        <!-- <div class="progress m-t-30" style="height: 7px;">
          <div class="progress-bar progress-c-theme" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div> -->
    </app-card>
  </div>
  <div class="col-md-6 col-xl-4">
    <app-card class="text-center" [hidHeader]="true">
      <i style="font-size: 40px; color: #F6891F; margin-bottom: 18px;" class="fa fa-clock-o" aria-hidden="true"></i>
      <h6 class="mb-4" style="font-size: 20px; font-weight: bold; color: #F6891F;">Tomorrow's Appointments</h6>
      <div class="row d-flex align-items-center">
        <div class="col-lg-12">
          <button class="shadow" style="background: none; background-color: #F6891F; ">View All Appointments</button>
        </div>
      </div>
      <!-- <div class="row d-flex align-items-center">
        <div class="col-9">
          <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i class="feather icon-arrow-down text-c-red f-30 m-r-10"></i>$2.942.32</h3>
        </div>
        <div class="col-3 text-right">
          <p class="m-b-0">36%</p>
        </div>
      </div>
      <div class="progress m-t-30" style="height: 7px;">
        <div class="progress-bar progress-c-theme2" role="progressbar" style="width: 35%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
      </div> -->
    </app-card>
  </div>
  <div class="col-md-12 col-xl-4">
    <app-card class="text-center" [hidHeader]="true">
      <i style="font-size: 40px; color: #ffb100; margin-bottom: 18px;" class="fa fa-clock-o" aria-hidden="true"></i>
      <h6 class="mb-4" style="font-size: 20px; font-weight: bold; color: #ffb100;">Upcoming's Appointments</h6>
      <div class="row d-flex align-items-center">
        <div class="col-lg-12">
          <button class="shadow" style="background: none; background-color: #ffb100 !important;">View All Appointments</button>
        </div>
      </div>
      <!-- <div class="row d-flex align-items-center">
        <div class="col-9">
          <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>$8.638.32</h3>
        </div>
        <div class="col-3 text-right">
          <p class="m-b-0">80%</p>
        </div>
      </div>
      <div class="progress m-t-30" style="height: 7px;">
        <div class="progress-bar progress-c-theme" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
      </div> -->
    </app-card>
  </div>

</div>
